{
    "tabWidth": 4,
    "printWidth": 120,
    "useTabs": false,
    "overrides": [
        {
            "files": "*.components.html",
            "options": { "parser": "angular" }
        },
        {
            "files": "*.ts",
            "option": {
                "singleQuote": true,
                "trailingComma": "all"
            }
        }
    ]
}
