.card {
    border-bottom: 1px #ccc dotted;
    color: #000;
}

.is-available {
    font-weight: bold;
    color: green;
}

button {
    background-color: green;
}

.desc p {
    margin: 0;
    width: 100%;
    text-align: right;
}
